/* Global Styles */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}
.membership-fee-text {
    display:block;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    color: #004aa9;
    margin-bottom: 20px; /* Space before timeline starts */
    
}

/* Navbar */
.nav-link {
    font-size: 18px;
    font-weight: 520;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: fixed;
    top: 90px;
    z-index: 2;
    right: 10px;
}

.navbar {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    max-height: 45px;
}

.navbar-text {
    font-size: 16px;
    margin-left: 15px;
    color: #000;
}

.navbar-nav .nav-link {
    color: #000;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 18px;
}

.navbar-nav .nav-link.active {
    border-bottom: 2px solid #007bff;
}

.navbar-nav .btn {
    font-weight: 600;
    margin-left: 10px;
    padding: 8px 16px;
}

.navbar-nav .btn-success {
    background-color: #014895;
    border-color: #007bff;
}

.btn-success:hover {
    color: #014895;
    background-color: transparent;
    border: 1px solid #014895;
}

.btn-outline-success {
    border-color: green;
    color: green;
}

.navbar-toggler {
    border-color: transparent;
}



/* Banner Section */
.oneBillBanner {
    margin-top: 50px;
    padding-top: 60px;
    margin-bottom: 4rem;
    background: #f8f9fa;
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.oneBillBanner h1 {
    font-size: 50px;
    font-weight: 700;
    color: #004aa9;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.oneBillBanner h2 {
    font-size: 35px;
    color: #000;
    margin-bottom: 2rem;
    margin-top: 70px;
}

.oneBillBanner .btn-primary {
    background-color: #004aa9;
    border-color: #004aa9;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 15px;
    width: 40%;
    max-width: 400px;
    text-align: center;
    border-radius: 5px;
}

.oneBillBanner .btn-primary:hover {
    background-color: #003a8c;
    border-color: #003a8c;
}

.oneBillBanner .btn-outline-primary {
    color: black;
    border-color: #004aa9;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 20px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    border-radius: 5px;
}

.oneBillBanner .btn-outline-primary span {
    font-weight: 400;
}

.oneBillBanner .btn-outline-primary:hover {
    background-color: #004aa9;
    color: #fff;
}

.oneBillBanner .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.oneBillBanner .head {
    margin-top: -10%;
}

.oneBillBanner .right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2;
    width: 400px;
}

.oneBillBanner .right-section h3 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

.record-savings {
    font-size: 14px;
    font-weight: 300;
    color: #4a4848;
    margin-top: 20px;
    text-align: center;
    bottom: 0;
}

.record-savings span {
    font-weight: 600;
}

.error-message {
    color: black;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    padding: 5px;
    border: 1px solid red;
    background-color: #ffe6e6;
    border-radius: 4px;
}
/* General container alignment and flexbox usage */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align inputs and checkbox */
    width: 100%;
    max-width: 400px; /* Same max width as upload box */
    margin-top: 20px;
    padding: 20px;
   
}






/* Timeline Section */
.timelinesection {
    padding-top: 200%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
}

.timeline-header {
    text-align: center;
    margin-top: 80%;
}

.timelinesection h2 {
    /*margin-top: -70px;*/
    font-weight: 600;
    font-size: 30px;
    color: #004aa9;
}

.timeline-container {
    width: 70%;
    max-width: 1900px;
    position: relative;
    padding-top: 7%;
}

.timeline-line {
    position: relative;
    width: 110%;
    height: 4px;
    background-color: #004aa9;
    margin: 50px 0;
}

.timeline-dot {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #004aa9;
    border-radius: 50%;
}

.dot-1 { left: 0%; }
.dot-2 { left: 20%; }
.dot-3 { left: 35%; }
.dot-4 { left: 50%; }
.dot-5 { left: 65%; }
.dot-6 { left: 80%; }
.dot-7 { left: 100%; }

.timeline-box {
    position: absolute;
    width: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-upload .icon1 {
    width: 40px;
    float: right;
    margin-left: 150%;
}

.customdot7 {
    position: absolute;
    top: 50%;
    left: 101.3%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 x%3D%220px%22 y%3D%220px%22 width%3D%22100%22 height%3D%22100%22 viewBox%3D%220%2C0%2C256%2C256%22%3E %3Cg fill%3D%22none%22 fill-rule%3D%22nonzero%22 stroke%3D%22none%22 stroke-width%3D%221%22 stroke-linecap%3D%22butt%22 stroke-linejoin%3D%22miter%22 stroke-miterlimit%3D%2210%22 stroke-dasharray%3D%22%22 stroke-dashoffset%3D%220%22 font-family%3D%22none%22 font-weight%3D%22none%22 font-size%3D%22none%22 text-anchor%3D%22none%22 style%3D%22mix-blend-mode%3A normal%22%3E%3Cg transform%3D%22scale(6.4%2C6.4)%22%3E%3Cpath d%3D%22M4.207%2C35.5l2.573%2C-2.574l-0.328%2C-0.353c-3.193%2C-3.43 -4.952%2C-7.896 -4.952%2C-12.573c0%2C-10.201 8.299%2C-18.5 18.5%2C-18.5c0.776%2C0 1.598%2C0.062 2.5%2C0.19v4.032c-0.839%2C-0.147 -1.677%2C-0.222 -2.5%2C-0.222c-7.995%2C0 -14.5%2C6.505 -14.5%2C14.5c0%2C3.578 1.337%2C7.023 3.765%2C9.701l0.353%2C0.389l2.883%2C-2.883v8.293z%22 fill%3D%22%2350de1c%22%3E%3C%2Fpath%3E%3Cpath d%3D%22M20%2C2c0.627%2C0 1.287%2C0.042 2%2C0.129v3.009c-0.67%2C-0.092 -1.339%2C-0.138 -2%2C-0.138c-8.271%2C0 -15%2C6.729 -15%2C15c0%2C3.702 1.383%2C7.267 3.894%2C10.037l0.705%2C0.778l0.743%2C-0.743l1.658%2C-1.658v6.586h-6.586l1.379%2C-1.379l0.682%2C-0.682l-0.657%2C-0.706c-3.107%2C-3.338 -4.818%2C-7.682 -4.818%2C-12.233c0%2C-9.925 8.075%2C-18 18%2C-18M20%2C1c-10.493%2C0 -19%2C8.507 -19%2C19c0%2C4.994 1.934%2C9.527 5.086%2C12.914l-3.086%2C3.086h10v-10l-3.365%2C3.365c-2.248%2C-2.48 -3.635%2C-5.753 -3.635%2C-9.365c0%2C-7.732 6.268%2C-14 14%2C-14c1.031%2C0 2.033%2C0.119 3%2C0.33v-5.071c-0.98%2C-0.155 -1.977%2C-0.259 -3%2C-0.259z%22 fill%3D%22%235d9f32%22%3E%3C%2Fpath%3E%3Cg%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}

.timeline-box img {
    width: 54px;
    height: 54px;
}

.box-1 { top: -105px; left: calc(5% - 75px); }
.box-2 { top: 40px; left: calc(20% - 75px); }
.box-3 { top: -106px; left: calc(35% - 75px); }
.box-4 { top: 40px; left: calc(50% - 75px); }
.box-5 { top: -140px; left: calc(65% - 75px); }
.box-6 { top: 40px; left: calc(80% - 75px); }
.box-7 { top: -100px; left: calc(95% - 75px); }



/* Upload Section */

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px); 
    background-color: rgba(255, 255, 255, 0.7); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
    padding: 20px;
    box-sizing: border-box;
}

.loader {
    display: inline-flex;
    gap: 12px;
    margin-bottom: 20px;
}

.loader:before,
.loader:after {
    content: "";
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #3498db 95%, #0000) 35% 35%/8px 8px no-repeat
        #fff;
    animation: l5 1.5s infinite ease-in-out; 
}

.loader-message {
    font-size: 1em;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500; 
    color: rgb(21, 75, 151);
    max-width: 70%; 
    line-height: 1.4; 
    margin: 0 auto; 
    letter-spacing: 0.5px; 
    padding: 10px 0; 
}

@keyframes l5 {
    0%, 11% {background-position: 35% 35%}
    14%, 36% {background-position: 65% 35%}
    38%, 61% {background-position: 65% 65%}
    64%, 86% {background-position: 35% 65%}
    88%, 100% {background-position: 35% 35%}
}

.sectionupload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #007bff;
    width: 500px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.card_body {
    background-color: white;
}

.file-upload {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header img {
    width: 50px;
    position: absolute;
    right: 20px;
}

.header h2 {
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

.header p {
    font-size: 16px;
    color: #666;
    display: flex;
    justify-content: center;
}

.upload-instructions p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.upload-area {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
}

.upload-area.dragging {
    background-color: #e0e0e0;
    border-color: #0056b3;
}

.file-input {
    display: none;
}

.upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #47494b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.upload-button img {
    width: 15px;
    margin-right: 10px;
}

.file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    margin-bottom: 0.5rem;
    text-align: center;
    
}

.file-upload:hover {
    background-color: #dbedff;
}

.icondrag img {
    width: 90px;
}

.maindrag {
    display: flex;
    gap: 2;
    align-items: center;
    justify-content: center;
}

.text-muted {
    padding-top: 30px;
}

.text-muted span {
    font-weight: 700;
    color: black;
}

.pro-tip {
    font-weight: 700;
    font-size: 10px;
    text-align: center;
}

.icon {
    width: 250px;
}


/* "Don't Have Your Bill's on Hand?" Section */
.sectionhaveyourbill {
    height: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.container2 {
    max-width: 750px;
    width: 100%;
    padding: 2rem;
    border-radius: .5rem;
    align-items: center;
}

.header-container h2 {
    font-size: 30px;
    align-items: center;
    margin-bottom: 20px;
    color: #004aa9;
    font-weight: 600;
}

.fivemin {
    width: 60px;
    float: right;
}

.form-control {
    border-color: #0056b3;
    padding: 1.5rem;
    font-size: 1.2rem;
    text-align: center;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
}

.icon-box {
    border: 2px solid #0056b3;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    text-decoration: none;
    width: 30%;
    aspect-ratio: 1 / 1;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: padding 0.3s ease, font-size 0.3s ease, width 0.3s ease, background-color 0.3s ease;
}

.icon-box img {
    width: 90px;
    margin-bottom: 5px;
    transition: width 0.3s ease;
}

.icon-box p {
    margin: 0;
    font-size: 1.5rem;
    color: #6c757d;
    font-weight: 600;
    transition: font-size 0.3s ease;
}

.icon-box input[type="checkbox"] {
    display: none;
}

.icon-box input[type="checkbox"]:checked + img {
    opacity: 0.6;
}

.icon-box input[type="checkbox"]:checked + p {
    color: #004aa9;
    font-weight: 700;
}

.icon-box input[type="checkbox"]:checked + img + p {
    color: #004aa9;
    font-weight: 700;
}

.icon-box input[type="checkbox"]:checked + img + p::before {
    content: '✓';
    color: #004aa9;
    margin-right: 5px;
}

.icon-box:hover {
    background-color: #eef4fc;
}

.btn-start {
    background-color: #0056b3;
    color: #fff;
    padding: 0.8rem 3rem;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 2px solid #0056b3;
    width: 50%;
}

.btn-start:hover {
    background-color: #fff;
    color: #0056b3;
    border: 1px solid #0056b3;
}



/* Pricing Section */
/* Pricing Section */
.pricing-section {
    text-align: center;
    padding: 50px 0;
    background-color: #f8f9fa;
}

.pricing-section h2 {
    font-size: 30px;
    color: #004aa9;
    font-weight: 600;
    margin-bottom: 50px;
}

.pricing-card {
    border: 2px solid #004aa9;
    padding: 30px;
    margin-bottom: 40px;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.features {
    text-align: left;
    margin: 0;
    padding: 15px;
    list-style-type: none;
    font-size: 1rem;
    color: #333;
    border: 2px solid #0056b3;
    border-radius: 10px;
    box-sizing: border-box;
    line-height: 1.5;
    background: #f1f1f1;
}

.pricing-card h3 {
    font-size: 24px;
    color: #004aa9;
    font-weight: 700;
    margin-bottom: 20px;
}

.pricing-card ul li b {
    font-weight: 700;
}

.pricing-card .price {
    font-size: 28px;
    color: #004aa9;
    font-weight: 700;
    margin-top: 20px;
}

.pricing-card.inactive {
    opacity: 0.7;
}

.disclaimer {
    margin-top: 20px;
    font-size: 16px;
    color: #666;
    text-align: center;
}

.disclaimer b {
    font-weight: 700;
}

/* Responsive Design */
@media (max-width: 992px) {
    .pricing-card {
        padding: 20px;
    }
    .pricing-card h3 {
        font-size: 22px;
    }
    .pricing-card .price {
        font-size: 24px;
    }
}
@media (max-width: 991.98px) {
    .oaymentSnpage .itemSnpage {
        flex-direction: row !important;
    }
}

@media (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pricing-card {
        width: 90%;
        max-width: 400px;
        margin: 0 auto 30px;
    }
    .pricing-section h2 {
        font-size: 26px;
    }
    /*.pricing-card {*/
    /*    padding: 20px;*/
    /*    margin-bottom: 30px;*/
    /*}*/
    .features {
        font-size: 0.95rem;
        padding: 10px;
    }
    .pricing-card h3 {
        font-size: 20px;
    }
    .pricing-card .price {
        font-size: 22px;
    }
}

@media (max-width: 576px) {
    .pricing-section {
        padding: 30px 0;
    }
    .pricing-section h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .pricing-card {
        padding: 15px;
    }
    .features {
        font-size: 0.9rem;
    }
    .pricing-card h3 {
        font-size: 18px;
    }
    .pricing-card .price {
        font-size: 20px;
    }
}

/* Calendly Section */
.appointment-section {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

.appointment-text {
    max-width: 65%;
    text-align: center;
}

.appointment-text h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.5;
}

.appointment-text p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 20px;
}

.appointment-card {
    width: 500px;
    height: 550px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.calendly-inline-widget {
    width: 100%;
    height: 100%;
}

.calendar-placeholder {
    width: 100%;
    height: 500px;
    border: none;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    font-size: 1.5rem;
}



/* Unique Services Section */
.unique-services-section {
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    padding: 40px;
    box-sizing: border-box;
}

.unique-services-section span {
    font-weight: 600;
    color: #014895;
}

.unique-services-title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 30px;
    color: #333;
    position: relative;
}

.unique-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.unique-service {
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.unique-icon {
    width: 60px;
    margin-bottom: 20px;
}

.unique-service-title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 22px;
    color: #333;
}

.unique-service img {
    width: 25%;
}

.unique-service-description {
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
}


/* FAQ Section */
.accordion {
    margin-top: 50px;
}

.faq-section {
    background-color: #f8f9fa;
    padding: 60px 130px;
    border-radius: 12px;
    width: 100%;
}

.faq-section h2 {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: #333;
}

.faq-section h2 span {
    color: #014895;
}

.accordion-button {
    background-color: #ffffff;
    color: #333;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.accordion-button:not(.collapsed) {
    background-color: #014895;
    color: #ffffff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.accordion-item {
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn-faq {
    background-color: #014895;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 500;
    display: block;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

.btn-faq:hover {
    background-color: #013a78;
    color: #ffffff;
}


/* Footer Section */
.custom-footer {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 12px;
}

.align-text-right {
    text-align: right;
}

.link-container a {
    display: block;
    margin-bottom: 8px;
    color: #014895;
    text-decoration: none;
    font-weight: 450;
}

.brand-logo img {
    max-width: 150px;
    margin-bottom: 20px;
}

.footer-description p {
    margin-bottom: 0.5rem;
    color: #333;
}

.social-icons-group {
    padding-top: 30px;
}

.social-icons-group a {
    margin-right: 10px;
    color: #014895;
    font-size: 1.2rem;
    padding: 9px;
    border-radius: 5px;
    background-color: #ebedef;
}

.social-icons-group a:hover {
    color: #007bff;
}

.quick-links-section,
.policies-section {
    margin-bottom: 20px;
}

.quick-links-section a,
.policies-section a {
    display: block;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 8px;
}

.quick-links-section a:hover,
.policies-section a:hover {
    text-decoration: underline;
}

.certification-badge img {
    max-width: 120px;
    margin-bottom: 15px;
}

.chat-button-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
}



/* Media Queries */
@media (max-width: 992px) {
    .navbar-text {
        display: none;
    }

    .pricingcard {
        padding-bottom:10px;
    }
    .oneBillBanner h1 {
        font-size: 35px;
        margin-left: -10px;
    }

    .container1 {
        width: 300px;
    }

    .oneBillBanner h2 {
        font-size: 25px;
    }

    .navbar-nav {
        margin-top: 10px;
    }

    .navbar-nav .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .timeline-box span {
        font-size: 12px;
    }

    .sectionhaveyourbill {
        margin-top: 0;
    }

    .timeline-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timeline-line {
        width: 4px;
        height: 100%;
        margin: 0 20px;
    }

    .timeline-dot {
        left: 50%;
        transform: translateX(-50%);
    }

    .dot-1 {
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
    }

    .dot-2 {
        top: 9%;
        left: 50%;
        transform: translateX(-50%);
    }

    .dot-3 {
        top: 22%;
        left: 50%;
        transform: translateX(-50%);
    }

    .dot-4 {
        top: 39%;
        left: 50%;
        transform: translateX(-50%);
    }

    .dot-5 {
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
    }

    .dot-6 {
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
    }

    .dot-7 {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .timeline-box {
        width: 130px;
        padding: 8px;
        flex-direction: row;
        text-align: left;
        position: relative;
    }

    .timeline-box img {
        margin-bottom: 5px;
        width: 24px;
        height: 24px;
    }

    .customdot7 {
        top: 97.5%;
        left: 1.8px;
    }

    .box-1 {
        top: unset;
        left: 37px;
        transform: translateY(-50%);
    }

    .box-2 {
        top: unset;
        left: -160px;
        transform: translateY(-50%);
    }

    .box-3 {
        top: unset;
        left: 37px;
        transform: translateY(-50%);
    }

    .box-4 {
        top: unset;
        left: -160px;
        transform: translateY(-50%);
    }

    .box-5 {
        top: unset;
        left: 37px;
        transform: translateY(-50%);
    }

    .box-6 {
        top: unset;
        left: -160px;
        transform: translateY(-50%);
    }

    .box-7 {
        top: unset;
        left: 37px;
        transform: translateY(-50%);
    }
    .icon-box {
        width: 30%;
    }

    .icon-box img {
        width: 80px;
    }

    .icon-box p {
        font-size: 1.2rem;
    }
}

@media (max-width: 767px) {
    .oneBillBanner h1 {
        font-size: 23px;
        text-align: center;
    }
    .oneBillBanner .btn-primary{
        width: 100%;
    }
    .oneBillBanner h2 {
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
    }

    .oneBillBanner .btn-primary,
    .oneBillBanner .btn-outline-primary {
        font-size: 16px;
        padding: 10px 15px;
    }

    .oneBillBanner .right-section h3 {
        font-size: 22px;
    }

    .oneBillBanner .right-section .record-savings {
        font-size: 13px;
    }

    .faq-section {
        padding: 60px 30px;
    }

    .appointment-text h3 {
        font-size: 1.5rem;
    }

    .container {
        max-width: 990px;
    }
}
@media (max-width: 576px) {
    .icon-box {
        width: 30%;
        padding: 5px;
    }

    .icon-box img {
        width: 50px;
    }

    .icon-box p {
        font-size: 0.7rem;
    }

    .header-container h2 {
        font-size: 1.3rem;
    }

    .form-control {
        font-size: 0.8rem;
        padding: 0.6rem;
    }

    .btn-start {
        padding: 0.6rem 1rem;
        font-size: 1rem;
    }
}

@media (max-width: 880px) {
    .appointment-section {
        justify-content: space-around;
        margin: 0;
    }
    .unique-services-section {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .container1 {
        width: 300px;
    }

    .icon {
        width: 150px;
    }
}

@media (max-width: 520px) {
    .container1 {
        width: 300px;
    }
}

@media (max-width: 768px) {
    .features-container {
        flex-direction: column;
    }

    .features {
        flex: 1 1 100%;
        margin-top: 20px;
    }

    .icon-container1 img {
        width: 100px;
    }

    .price {
        font-size: 2rem;
    }

    .container4 h2 {
        font-size: 1.5rem;
    }
    .icon-box {
        width: 30%;
    }

    .icon-box img {
        width: 55px;
    }

    .icon-box p {
        font-size: 0.8rem;
    }

    .header-container h2 {
        font-size: 1.3rem;
    }

    .form-control {
        font-size: 1rem;
        padding: 0.8rem;
    }

    .btn-start {
        padding: 0.8rem 1rem;
        font-size: 1rem;
    }
}
