body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: var(--dark-gray);
}

.error-message {
  color: black;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  padding: 5px;
  border: 1px solid red;
  background-color: #ffe6e6;
  border-radius: 4px;
}

.alert {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: fixed;
  top: 90px;
  z-index: 2;
  right: 10px;
}
