.about-hero {
  background-image: url('/assets/images/privacy-policy-hero.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@media (min-width: 1024px) {
  .about {
    max-width: 1280px;
    margin: 0 auto;
  }
}
